// fonts
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


// colours
$primary: black;
$secondary: #F2F2F2;
$tertiary: #ccd5ae;
$color-1: #e9edc9;
$color-2: #fefae0;
$color-3: #faedcd;
$color-4: #d4a373;

$breakpoints: (
    mobile: 767x,
    tablet: 1100px,
);
